
<div class="carousel bg-color4">
<h3 >轮播图片</h3>
</div>
<div class="body1 bg-color1 body-text">
    <h1> 专属年轻人的高品质家装 </h1>
    <br>
    <h4>只服务于追求品质生活的年轻人</h4>
    <h4>全面升级产品，更一流的速度，更一流的服务</h4>
    <h4>品质家装为你带来身临其境之感</h4>
</div>

<div class="body2 bg-color2">
<div class="productList">
  <div class="productList-item bg-color1"></div>
  <div class="productList-item ">
    <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
  </div>
  <div class="productList-item bg-color5"></div>
  </div>
</div>



<div class="body3 bg-color3"></div>

<div class="body4 bg-color4"></div>
