<h2>订单列表 </h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>姓名</th>
            <th>联系方式</th>
            <th>预约日期</th>
        </tr>
    </thead>
    <tbody>
        <% @appointments.each do |ap| %>
            <tr>
                <td> <%= ap.name%> </td>
                <td> <%= ap.phone %> </td>
                <td> <%= ap.date %> </td>
            </tr>
        <% end %>
    </tbody>
</table>
