<!-- <footer class="footer bg-color1" style="margin-top: 100px;">
  <class="row">
    <p class="text-center">Copyright ©2017 JDStore
        <br>
        Design by
        <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>AilinJuly & petersngg </a>
    </p>
</footer> -->


<div id="footer-section">
  <div id="footer-copy" class="content-safe">

    <div class="footer-group footer-group-logo">
      <div id="footer-logo"></div>
      <div id="footer-join-our-team" onclick="javascript:alert('Coming soon');"></div>
      <div id="footer-facebook" class="footer-social-media-link" onclick="window.open('https://www.facebook.com/pages/Bruce-Heating-Air-Conditioning/153829408062627', '_blank');"></div>
      <div id="footer-twitter" class="footer-social-media-link" onclick="window.open('https://twitter.com/BruceIncHVAC', '_blank');"></div>
      <div id="footer-blogspot" class="footer-social-media-link" onclick="window.open('http://richlandpascokennewickhvac.blogspot.com', '_blank');"></div>
    </div>
    <div class="footer-group">
      <h3>DreamHouse</h3>
      <a href="#">企业简介</a>
      <a href="#">团队组成</a>
      <a href="#">企业报道</a>
      <a href="#">成功案例</a>
    </div>
    <div class="footer-group">
      <h3>方案资源</h3>
      <a href="#">户型改造</a>
      <a href="#">新家装修</a>
      <a href="#">3D设计</a>
      <a href="#">优秀案例</a>
      <a href="#">互动社区</a>
    </div>
    <div class="footer-group">
      <h3>常见问题</h3>
      <a href="#">购买流程</a>
      <a href="#">售后说明</a>
      <a href="#">联系方式</a>
      <a href="#">在线服务</a>
    </div>
    <div class="clear-floats"></div>

    <div id="footer-contact">
      <div>
        <span class="nw footer-contact-company-name">DreamHouse Inc. </span>
        <span class="footer-divider">|</span>
        <span class="nw">XXXXX</span>
        <span class="footer-divider">|</span>
        <span class="nw">WA 99338</span>
      </div>
      <br><br>
      <div><span class="footer-divider">|</span></div>
      <div>
        <span class="nw">电话: <a href="tel:509-734-0669">100-000-000</a></span>
        <span class="footer-divider">|</span>
        <span class="nw">传真: 400-000-000</span>
        <span class="footer-divider">|</span>
        <span class="nw">微信: DreamHouse</span>
      </div>
    </div>
    <div id="footer-copyright">Copyright ©2017 JDStore. AilinJuly & petersngg .</div>
  </div>
</div>
