<!-- <footer class="footer bg-color1" style="margin-top: 100px;">
  <class="row">
    <p class="text-center">Copyright ©2017 JDStore
        <br>
        Design by
        <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>AilinJuly & petersngg </a>
    </p>
</footer> -->


<div id="footer-section">
  <div id="footer-copy" class="content-safe">

<div class="footer-content">
    <div class="footer-group">
      <h3>DreamHouse</h3>
      <a href="#">企业简介</a>
      <a href="#">团队组成</a>
      <a href="#">企业报道</a>
      <a href="#">成功案例</a>
    </div>
    <div class="footer-group">
      <h3>方案资源</h3>
      <a href="#">户型改造</a>
      <a href="#">新家装修</a>
      <a href="#">3D设计</a>
      <a href="#">优秀案例</a>
      <a href="#">互动社区</a>
    </div>
    <div class="footer-group">
      <h3>常见问题</h3>
      <a href="#">购买流程</a>
      <a href="#">售后说明</a>
      <a href="#">联系方式</a>
      <a href="#">在线服务</a>
    </div>
  </div>
    <div class="clear-floats"></div>
    <div class="footer-group">
      <ul>
        <div><i class="fa fa-phone" aria-hidden="true"></i>:  100-000-000</div>
        <br/>
        <div><i class="fa fa-fax" aria-hidden="true"></i>: 400-000-000</div>
        <br/>
        <i class="fa fa-weixin" aria-hidden="true">: DreamHouse</i>
      </ul>
    </div>


    <div id="footer-contact">

    </div>

    <!-- <div id="footer-copyright">Copyright ©2017 JDStore. AilinJuly & petersngg .</div> -->
    <a class="navbar-brand1" href="/">  <%= image_tag('Wechat1.jpeg') %>
    </a >
    <a class="navbar-brand2" href="/">  <%= image_tag('Wechat1.jpeg') %>
    </a>

  </div>

</div>
