<footer class="footer bg-color1" style="margin-top: 100px;">
  <class="row">
    <p class="text-center">Copyright ©2017 JDStore
        <br>
        Design by
        <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>AilinJuly & petersngg </a>
    </p>
</footer>
